* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 25px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 25px;
}
.pagejump {
  display: flex;
  gap: 29px;
}
.pagejump a {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  color: black;
}
header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.44px;
  letter-spacing: -0.13333334028720856px;
}
.contactsection {
  background-color: #f4f7fa;
  height: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.slogan {
  width: 602px;
  height: 202px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
}
.slogan h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -2px;
}
.slogan p {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  opacity: 50%;
}
.phonenumber {
  width: 1075px;
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.email1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email p {
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.5px;
  opacity: 50%;
}
.icon {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.5px;
}
.icon i {
  color: #473bf0;
}
.fillsection {
  width: 1200px;
  padding: 45px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.fillbox {
  width: 537px;
  height: 78px;
}
.message {
  width: 100%;
  height: 200px;
}
button {
  width: 213px;
  height: 59px;
  background-color: #473bf0;
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
button:hover {
  scale: 1.1;
}
.fillbox p {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
}
.message p {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
}
.boxsize {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  opacity: 50%;
}
.noneiconfooter {
  border-radius: 12px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.footertext {
  margin-top: 121px;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
}
.footermenu {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  margin-bottom: 20px;
  opacity: 50%;
}
.email {
  font-size: 17px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.20000000298023224px;
  color: #473bf0;
}
.footericon {
  width: 1100px;
  border-top: gray solid 1px;
  padding: 30px 0;
  margin: auto;
  margin-top: 108px;
  display: flex;
  justify-content: space-between;
}
.footericon p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.10000000149011612px;
  color: #161c2d;
}
.icons {
  display: flex;
  gap: 20px;
}
