

<!DOCTYPE html>
<html>
  <head>
    <title>Нүүр | Unread Today</title>
    <meta charset="utf-8">
    <meta name="description" content="Storytelling redefined. Igniting action. Unread is a hybrid media company that empowers the next generation through disruptive storytelling and experiences." />
    <meta name="keywords" content="unread today, шинэ бизнес, шинэ апп, онцлох бизнес, techworm, технологийн хорхойтнууд, би хэрхэн ажилладаг вэ, номын тухай, мэдүүштэй, тойм, postedmn, releasedmn, entrepreneur, creative, executive, business, professional" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2,user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@UnreadToday" />
    <meta name="twitter:title" content="Нүүр | Unread Today">
    <!-- Twitter Page description less than 200 characters -->
    <meta name="twitter:description" content="Storytelling redefined. Igniting action. Unread is a hybrid media company that empowers the next generation through disruptive storytelling and experiences." />
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://www.unread.today/files/site_meta/a4cada003bac63c82ec878c8a4773ac2.png" />

    <meta property="og:title" content="Нүүр | Unread Today" />
    <meta property="og:image" content="https://www.unread.today/files/site_meta/a4cada003bac63c82ec878c8a4773ac2.png" />
    <meta property="og:site_name" content="Unread Today" />
    <meta property="og:description" content="Storytelling redefined. Igniting action. Unread is a hybrid media company that empowers the next generation through disruptive storytelling and experiences." />

    <link rel="icon" type="image/png" sizes="32x32" href="https://unread.today/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://unread.today/img/favicon-16x16.png">

    <link rel="stylesheet" href="/static/unread.min.v1593050217.css"/>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '464619647618525'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=464619647618525&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    
<div class="header-container black" >
  <div class="header black" id="top">
    <div class="uk-container uk-container-center">
      <nav class="uk-navbar">
        <div class="burger-menu burger-click-region black" id="burgermenu">
          <span class="burger-menu-piece"></span>
          <span class="burger-menu-piece"></span>
          <span class="burger-menu-piece"></span>
        </div>
        <div class="uk-navbar-content">  
          <a href="/" class="uk-navbar-band">
            <img src="https://unread.today/files/site_meta/b809740220f5b5b4749e697e42df987b.png" class="logo" alt=""/>          </a>
          <span class="divider"></span>
          <a href="#search-modal" data-uk-modal="{center:true}" class="uk-visible-small search-btn"><i class="uk-icon-search"></i></a>
          
          
          <form method="get" accept-charset="utf-8" class="uk-search uk-hidden-small" data-uk-search="" action="/search">            <input id="core-search1" type="search" name="searchText" placeholder=" Хайлт хийх" value="" class="uk-search-field">
          </form>        </div>      
        <div class="uk-navbar-flip uk-hidden-small">
          <div class="uk-navbar-content" style="margin-top:1px;">
            <span class="opacity05">Дараагийн нийтлэл:</span> <span class="next-article-category">Мэдүүштэй</span>
            <a class="chip">Өнөөдөр орно <span class="blue-dot uk-margin-small-left randomblinker"></span></a>
          </div>
        </div>
        <div class="social-links">
                                                  <a href="https://www.facebook.com/UnreadToday/" class="social-link" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150"><title>1_fb</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="fb-c" d="M129.79,0H20.21A20.21,20.21,0,0,0,0,20.21V129.79A20.21,20.21,0,0,0,20.21,150h54l.1-53.6H60.42a3.29,3.29,0,0,1-3.29-3.27l-.06-17.28a3.28,3.28,0,0,1,3.28-3.3h13.9V55.85c0-19.37,11.84-29.92,29.12-29.92h14.18a3.29,3.29,0,0,1,3.29,3.29V43.78a3.29,3.29,0,0,1-3.29,3.29h-8.7c-9.4,0-11.22,4.47-11.22,11V72.55h20.66a3.29,3.29,0,0,1,3.26,3.67l-2,17.28a3.29,3.29,0,0,1-3.26,2.9H97.72L97.63,150h32.16A20.21,20.21,0,0,0,150,129.79V20.21A20.21,20.21,0,0,0,129.79,0Z"/></g></g></svg>                </a>
                                                              <a href="https://www.instagram.com/unreadtoday/" class="social-link" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 150"><defs><linearGradient id="linear-gradient" x1="16.11" y1="132.9" x2="112.77" y2="37.87" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffc738"/><stop offset="0.5" stop-color="#ff2f4e"/><stop offset="1" stop-color="#8d3baf"/></linearGradient><linearGradient id="linear-gradient-2" x1="16.11" y1="132.9" x2="112.77" y2="37.87" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-3" x1="15.96" y1="132.75" x2="112.62" y2="37.72" xlink:href="#linear-gradient"/></defs><title>4_ins</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="ins-c" d="M105.31,0H44.69A44.74,44.74,0,0,0,0,44.69v60.62A44.74,44.74,0,0,0,44.69,150h60.62A44.74,44.74,0,0,0,150,105.31V44.69A44.74,44.74,0,0,0,105.31,0Zm29.6,105.31a29.6,29.6,0,0,1-29.6,29.6H44.69a29.6,29.6,0,0,1-29.6-29.6V44.69a29.6,29.6,0,0,1,29.6-29.6h60.62a29.6,29.6,0,0,1,29.6,29.6v60.62Z"/><path class="ins-2" d="M75,36.2A38.8,38.8,0,1,0,113.8,75,38.85,38.85,0,0,0,75,36.2Zm0,62.51A23.71,23.71,0,1,1,98.71,75,23.72,23.72,0,0,1,75,98.71Z"/><circle class="ins-3" cx="113.87" cy="36.5" r="9.3"/></g></g></svg>                </a>
                                                              <a href="https://twitter.com/UnreadToday" class="social-link" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.66 150"><title>2_tw</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="tw-c" d="M165.72,37.36l.12,4.91c0,50-38.1,107.73-107.75,107.73A107.23,107.23,0,0,1,0,133a81.8,81.8,0,0,0,9,.51,76.13,76.13,0,0,0,47.05-16.17A38,38,0,0,1,20.69,91a38,38,0,0,0,7.15.67,38.92,38.92,0,0,0,10-1.29A38,38,0,0,1,7.44,53.2v-.46a37.29,37.29,0,0,0,17.13,4.73A37.89,37.89,0,0,1,12.85,6.92,107.52,107.52,0,0,0,91,46.49a39.33,39.33,0,0,1-1-8.62,37.88,37.88,0,0,1,65.48-25.93,75.18,75.18,0,0,0,24.12-9.19,38.18,38.18,0,0,1-16.68,21,75.68,75.68,0,0,0,21.75-6A76,76,0,0,1,165.72,37.36Z"/></g></g></svg>                </a>
                                                              <a href="https://www.linkedin.com/company/unreadmedia" class="social-link" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156.98 150"><title>3_li</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="lin-c" d="M35.65,150H2V48.79H35.65ZM18.81,35h-.2C7.31,35,0,27.19,0,17.5,0,7.55,7.54,0,19,0S37.63,7.55,37.86,17.5C37.86,27.19,30.57,35,18.81,35ZM157,150H123.32V95.84c0-13.62-4.86-22.88-17-22.88C97,73,91.48,79.23,89,85.26a23.31,23.31,0,0,0-1.15,8.21V150H54.25s.45-91.7,0-101.2H87.88V63.14c4.49-6.89,12.45-16.72,30.33-16.72C140.4,46.42,157,60.88,157,92Z"/></g></g></svg>                </a>
                            </div>
      </nav>
    </div>
  </div>
  
  <div class="mainmenu-container" id="mmcontainer" >
    <div class="mainmenu" id="mainmenu" style="display: none">
      <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-large">
                    <div class="uk-width-medium-2-5 uk-width-small-1-2 uk-width-1-1">
            <h5 class="col-header uk-text-uppercase">Булангууд</h5>
            <div class="mainmenu-nav">
                              <a href="/category/2">
                  <h3 class="transition">Онцлох бизнес <span class="small">Даваа</span></h3>
                </a>
                              <a href="/category/1">
                  <h3 class="transition">Techworm <span class="small">Мягмар</span></h3>
                </a>
                              <a href="/howiwork">
                  <h3 class="transition">Би хэрхэн ажилладаг вэ? <span class="small">Лхагва</span></h3>
                </a>
                              <a href="/category/4">
                  <h3 class="transition">Мэдүүштэй <span class="small">Пүрэв</span></h3>
                </a>
                              <a href="/category/5">
                  <h3 class="transition">Чөлөөт <span class="small">Баасан</span></h3>
                </a>
                              <a href="/category/6">
                  <h3 class="transition">Номын тухай <span class="small">Бямба</span></h3>
                </a>
                              <a href="/category/7">
                  <h3 class="transition">7 хоногийн тойм <span class="small">Ням</span></h3>
                </a>
                          </div>
          </div>
          <div class="uk-width-medium-2-5 uk-width-small-1-2 uk-width-1-1">
            <h5 class="col-header uk-text-uppercase">Шинэ</h5>
            <div class="mainmenu-nav withbadge">
                              <a href="/category/disruptors">
                  <h3 class="transition">Өртөөлөгчид</h3>
                </a>
                              <a href="/category/10">
                  <h3 class="transition">Тогтвортой хөгжил</h3>
                </a>
                              <a href="/category/explained">
                  <h3 class="transition">Тайлбарлах нь</h3>
                </a>
                              <a href="/category/10-ertunts-10-untsug">
                  <h3 class="transition">10 ертөнц, 10 өнцөг </h3>
                </a>
                              <a href="/category/bestoffice">
                  <h3 class="transition">Таатай оффис</h3>
                </a>
                              <a href="/category/12">
                  <h3 class="transition">Зочинтой булан</h3>
                </a>
                              <a href="/category/8minute-politics">
                  <h3 class="transition">8 минутын улс төр</h3>
                </a>
                          </div>  
          </div>
        </div>
      </div>
      <div class="mainmenu-footer">
        <div class="uk-container uk-container-center">
          <div class="uk-grid uk-grid-large" style="margin-bottom:75px;">
            <div class="uk-width-medium-2-5 uk-width-small-1-2 uk-width-1-1">
              <a href="https://unreadmedia799198.typeform.com/to/Md7Qia" target="_blank" class="cta">
                  <span style="font-size: 1.26rem;" class="text-black">Хамтран ажиллах хүсэлт илгээх</span>
                  <h3 class="uk-text-uppercase uk-position-relative transition">Контент нийтлүүлэх</h3>
                </a>
            </div>
            <div class="uk-width-medium-2-5 uk-width-small-1-2 uk-width-1-1">
              <a href="https://unreadmedia799198.typeform.com/to/gZwyug" target="_blank" class="cta">
                <span style="font-size: 1.26rem;" class="text-black">Хамтран ажиллах хүсэлт илгээх</span>
                  <h3 class="uk-text-uppercase uk-position-relative transition">Эвент дээр хамтрах</h3>
                </a>
            </div>
          </div>
          <a href="/page/policy" class="hover-blue">Редакцын бодлого</a>
          <a href="/category/9" class="pre-dot hover-blue">Блог</a>
          <a href="/category/11" class="pre-dot hover-blue uk-hidden-small">Ажлын байр</a>
          <a href="/page/contact" class="pre-dot hover-blue">Холбогдох</a>

          <p class="footnote uk-text-muted">© 2015-2024 Анрид Медиа ХХК. Бүх эрх хуулиар хамгаалагдсан. Контентуудыг зөвшөөрөлгүйгээр болон дурдалгүйгээр нийтлэх, хэвлэх, эш татахыг хориглоно.          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This is the search modal -->
<div id="search-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <form method="get" accept-charset="utf-8" class="uk-form" action="/search">            <h2 class="uk-text-uppercase text-roboto-condensed uk-text-bold" style="font-size: 17px!important">Хайх зүйлээ бичээд enter дарна уу.</h2>
            <div class="uk-form-row">
                <input id="core-search2" type="search" name="searchText" class="uk-width-1-1 uk-form-large" value="" autofocus>       
            </div>
        </form>    </div>
</div>

      
    
<div class="hero unread-content" data-id="5265">
  <div class="hero-background uk-cover-background progressive-bg-image" style="background-image: url('https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f_progressive.jpg')" data-large="https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/e66ae558c0eb8f8f2f7867bf6f901f5f.jpg"></div>
  <div class="hero-gradient"></div>
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-grid-collapse" style="width:100%">
      <div class="uk-width-large-2-5 uk-width-medium-1-2 uk-hidden-small">
        <figure class="uk-overlay uk-overlay-hover photo uk-width-1-1">
          <div class="cover uk-cover-background uk-overlay-scale " style="background-image: url('https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/01928e032929356633d87d6d018ee693.jpg')">
            <img src="/img/square_placeholder.png" class="uk-invisible uk-width-1-1" alt=""/>          </div>
          <a class="uk-position-cover" href="https://unread.today/c/insight-ard-kids-childrens-day"></a>
        </figure>
      </div>
      <div class="uk-width-large-3-5 uk-width-medium-1-2 uk-width-1-1">
        <div class="content">
          <div class="lead">
            <h5 class="uk-text-uppercase randomblinker">Шинэ</h5>
                      </div>
          <h1 class="category">Мэдүүштэй</h1>
          <a href="https://unread.today/c/insight-ard-kids-childrens-day" class="hover-opacity transition uk-display-inline-block"><h1 class="title text-white uk-text-break">Ард Кидс: Хүүхдэдээ бэлэглэх хөрөнгө оруулалтыг танилцуулах нь</h1></a>
          <div class="author">
            <a href="https://unread.today/author/Unread" class="author-link transition">
              <img src="https://unread.today/files/profile/00b063d23a6c69f2b1482fa084fddbf5.jpg" class="author-photo" alt=""/>            </a>
            <a href="https://unread.today/author/Unread" class="author-name opacity05 transition text-bold">Unread Today</a>  
            <span>5 сарын 29, 2024</span>
            <span class="pre-dot">1 мин</span>
          </div>
        </div>
      </div>  
    </div>
  </div>


    </div>

<div class="editors-choice">
  <div class="uk-container uk-container-center">
    <div class="section-tile">
      <div class="tools">
                
        <div class="slider-nav uk-hidden-small"><a class="prev opacity05"><i class="uk-icon-angle-left"></i></a><a class="next opacity05"><i class="uk-icon-angle-right"></i></a></div>
      </div>
      Редакцын сонголт    </div>
  </div>
</div>

<div class="editors-slider">
    <div class="uk-slider-container" data-uk-slider="{infinite:true,autoplay:true}">
      <ul class="uk-slider uk-grid uk-grid-medium uk-grid-width-medium-1-6 uk-grid-width-small-1-3 uk-grid-width-1-2">
                <li class="uk-width-medium-1-5 uk-width-small-1-3 uk-width-3-5">
          <figure class="uk-overlay uk-overlay-hover editors-item unread-content" data-id="5250">
            <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/06c81a70abc3c6e36ebe81f34829ed10_square.jpg')">
              <img src="/img/editors-ph.png" class="uk-invisible" alt=""/>            </div>
            <figcaption class="uk-overlay-panel uk-ignore">
              <div class="lead">
                <span class="blue-dot"></span>
                <span class="read">11 мин</span>
              </div>
              <div class="meta">
                  <span style="color:#fff"><img src="/img/logo/eye-white.png" width="21" alt=""/> 7735</span>
<span class="" style="color:#fff"><img src="/img/logo/comment-white.png" width="15" alt=""/> 0 </span>
                <div class="title">Ард Санхүүгийн Нэгдэл ХК-ийн Гүйцэтгэх захирал Б.Золбоо</div>
                <div class="category" style="margin-top: 1.4rem;" href="https://unread.today/category/3">Би хэрхэн ажилладаг вэ?</div>
              </div>
            </figcaption>
            <a class="uk-position-cover" href="https://unread.today/c/howiwork-zolboo-batbileg"></a>
          </figure>
          <div class="editors-shadow"></div>
        </li>
                <li class="uk-width-medium-1-5 uk-width-small-1-3 uk-width-3-5">
          <figure class="uk-overlay uk-overlay-hover editors-item unread-content" data-id="5248">
            <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/6c7379f6a279651cc886c07f98086bbc_square.jpg')">
              <img src="/img/editors-ph.png" class="uk-invisible" alt=""/>            </div>
            <figcaption class="uk-overlay-panel uk-ignore">
              <div class="lead">
                <span class="blue-dot"></span>
                <span class="read">3 мин</span>
              </div>
              <div class="meta">
                  <span style="color:#fff"><img src="/img/logo/eye-white.png" width="21" alt=""/> 4348</span>
<span class="" style="color:#fff"><img src="/img/logo/comment-white.png" width="15" alt=""/> 0 </span>
                <div class="title">Unread туршив: Монголын онлайн такси үйлчилгээнүүд- UBCab VS ABA</div>
                <div class="category" style="margin-top: 1.4rem;" href="https://unread.today/category/1">Techworm</div>
              </div>
            </figcaption>
            <a class="uk-position-cover" href="https://unread.today/c/techworm-taxi-apps"></a>
          </figure>
          <div class="editors-shadow"></div>
        </li>
                <li class="uk-width-medium-1-5 uk-width-small-1-3 uk-width-3-5">
          <figure class="uk-overlay uk-overlay-hover editors-item unread-content" data-id="5244">
            <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/03967d2f0f1b319e42ac4c8c2de6b0b3_square.png')">
              <img src="/img/editors-ph.png" class="uk-invisible" alt=""/>            </div>
            <figcaption class="uk-overlay-panel uk-ignore">
              <div class="lead">
                <span class="blue-dot"></span>
                <span class="read">11 мин</span>
              </div>
              <div class="meta">
                  <span style="color:#fff"><img src="/img/logo/eye-white.png" width="21" alt=""/> 3874</span>
<span class="" style="color:#fff"><img src="/img/logo/comment-white.png" width="15" alt=""/> 0 </span>
                <div class="title">Бид хэрхэн суралцдаг вэ? - Японы Засгийн газрын тэтгэлэгт тэнцсэн</div>
                <div class="category" style="margin-top: 1.4rem;" href="https://unread.today/category/12">Зочинтой булан</div>
              </div>
            </figcaption>
            <a class="uk-position-cover" href="https://unread.today/c/how-we-study-monbusho"></a>
          </figure>
          <div class="editors-shadow"></div>
        </li>
                <li class="uk-width-medium-1-5 uk-width-small-1-3 uk-width-3-5">
          <figure class="uk-overlay uk-overlay-hover editors-item unread-content" data-id="5247">
            <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/9a316b70d85cf3d44242613d6a15c809_square.jpg')">
              <img src="/img/editors-ph.png" class="uk-invisible" alt=""/>            </div>
            <figcaption class="uk-overlay-panel uk-ignore">
              <div class="lead">
                <span class="blue-dot"></span>
                <span class="read">8 мин</span>
              </div>
              <div class="meta">
                  <span style="color:#fff"><img src="/img/logo/eye-white.png" width="21" alt=""/> 2707</span>
<span class="" style="color:#fff"><img src="/img/logo/comment-white.png" width="15" alt=""/> 0 </span>
                <div class="title">“Натур Мед Толун” багийн тамирчин Т.Хангалын онцлох таван тоглолт </div>
                <div class="category" style="margin-top: 1.4rem;" href="https://unread.today/category/5">Чөлөөт</div>
              </div>
            </figcaption>
            <a class="uk-position-cover" href="https://unread.today/c/chuluut-khangal-volleyball"></a>
          </figure>
          <div class="editors-shadow"></div>
        </li>
                <li class="uk-width-medium-1-5 uk-width-small-1-3 uk-width-3-5">
          <figure class="uk-overlay uk-overlay-hover editors-item unread-content" data-id="5255">
            <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/15b480dde130301ccfcb83cc83796577_square.png')">
              <img src="/img/editors-ph.png" class="uk-invisible" alt=""/>            </div>
            <figcaption class="uk-overlay-panel uk-ignore">
              <div class="lead">
                <span class="blue-dot"></span>
                <span class="read">1 мин</span>
              </div>
              <div class="meta">
                                <div class="title">Рашид Халиди: "The Hundred Years' War on Palestine" номын тухай</div>
                <div class="category" style="margin-top: 1.4rem;" href="https://unread.today/category/6">Номын тухай</div>
              </div>
            </figcaption>
            <a class="uk-position-cover" href="https://unread.today/c/book-the-hundred-years-war-on-palestine"></a>
          </figure>
          <div class="editors-shadow"></div>
        </li>
                <li class="uk-width-medium-1-5 uk-width-small-1-3 uk-width-3-5">
          <figure class="uk-overlay uk-overlay-hover editors-item unread-content" data-id="5254">
            <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/f214ecbbae9edfd49dbab990e70348c6_square.png')">
              <img src="/img/editors-ph.png" class="uk-invisible" alt=""/>            </div>
            <figcaption class="uk-overlay-panel uk-ignore">
              <div class="lead">
                <span class="blue-dot"></span>
                <span class="read">2 мин</span>
              </div>
              <div class="meta">
                                <div class="title">Nomadic Masters Spring 2024 тэмцээнийг зорих 3 шалтгаан</div>
                <div class="category" style="margin-top: 1.4rem;" href="https://unread.today/category/4">Мэдүүштэй</div>
              </div>
            </figcaption>
            <a class="uk-position-cover" href="https://unread.today/c/insight-nms24"></a>
          </figure>
          <div class="editors-shadow"></div>
        </li>
                <li class="uk-width-medium-1-5 uk-width-small-1-3 uk-width-3-5">
          <figure class="uk-overlay uk-overlay-hover editors-item unread-content" data-id="5238">
            <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/6dc13475528502b25e38397feb99c727_square.png')">
              <img src="/img/editors-ph.png" class="uk-invisible" alt=""/>            </div>
            <figcaption class="uk-overlay-panel uk-ignore">
              <div class="lead">
                <span class="blue-dot"></span>
                <span class="read">6 мин</span>
              </div>
              <div class="meta">
                  <span style="color:#fff"><img src="/img/logo/eye-white.png" width="21" alt=""/> 5500</span>
<span class="" style="color:#fff"><img src="/img/logo/comment-white.png" width="15" alt=""/> 0 </span>
                <div class="title">Magic store – Жижиглэн худалдаа ба технологийн хослол </div>
                <div class="category" style="margin-top: 1.4rem;" href="https://unread.today/category/2">Онцлох бизнес</div>
              </div>
            </figcaption>
            <a class="uk-position-cover" href="https://unread.today/c/spotlight-magic-store"></a>
          </figure>
          <div class="editors-shadow"></div>
        </li>
                <a href="" class="uk-hidden uk-slidenav-previous" data-uk-slider-item="previous"></a>
        <a href="" class="uk-hidden uk-slidenav-next" data-uk-slider-item="next"></a>
      </ul>
    </div>
  </div>


<div class="uk-container uk-container-center">
  <div class="thisweek">
                  <div class="article1-container">
  <div class="article1 unread-content left" data-id="5267">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Gerelchimeg " class="author-link">
          <img src="https://unread.today/files/profile/0f46a164a4640fa6ce9c12e88ab2d48a.jpeg" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Gerelchimeg " class="author-name">
          Gerelchimeg Jargalsaikhan         </a>  
        <span>5 сарын 29, 2024</span>
        <span class="pre-dot">4 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/techworm-2024-apps">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/15a4d73f3036b08a1028138defbaf63e_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/1">Techworm</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/techworm-2024-apps">2024 оны эхний хагаст нээлтээ хийсэн монгол аппууд</a></h3>
      <div class="meta">
                      </div>
    </div>
  </div>
</div>          <div class="article1-container">
  <div class="article1 unread-content right" data-id="5264">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Tsengeg" class="author-link">
          <img src="https://unread.today/files/profile/452a23488f336be1094232a7cb0e83bd.jpg" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Tsengeg" class="author-name">
          Tsengeg Enkhbayar        </a>  
        <span>5 сарын 29, 2024</span>
        <span class="pre-dot">3 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/insight-toyota-mechanic-training">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/e8e08e0b-2c4f-4f62-83e2-43a512c166d6/7ba08d03a39abeabd3902962307095d8_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/4">Мэдүүштэй</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/insight-toyota-mechanic-training">Тоёота Сэйлс Монголиа ХХК-ийн эхлүүлж буй автомашины механикчдын сургалт </a></h3>
      <div class="meta">
                      </div>
    </div>
  </div>
</div>          <div class="article1-container">
  <div class="article1 unread-content left" data-id="5262">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Oyu " class="author-link">
          <img src="https://unread.today/files/profile/8b41add06e95ac849a03367cedef5979.png" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Oyu " class="author-name">
          Oyunlkham Gungaadorj        </a>  
        <span>5 сарын 28, 2024</span>
        <span class="pre-dot">12 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/howiwork-lundegs">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/2f1c26d7-6f24-46c8-9307-bbfecc8b41b1/1c8032975647515c919c1e4b30138726_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/3">Би хэрхэн ажилладаг вэ?</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/howiwork-lundegs">Монгол Улсын Ерөнхийлөгчийн Ахлах зөвлөх Сүрэнжавын Лүндэг</a></h3>
      <div class="meta">
          <span ><img src="/img/logo/eye-black.png" width="21" alt=""/> 3017</span>
<span class="" ><img src="/img/logo/comment-black.png" width="15" alt=""/> 0 </span>
              </div>
    </div>
  </div>
</div>          <div class="article1-container">
  <div class="article1 unread-content right" data-id="5263">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Burte" class="author-link">
          <img src="https://unread.today/files/profile/f14a217d09d0d74f3824c3aa80eba6a5.JPG" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Burte" class="author-name">
          Burtguljin Enkhbat        </a>  
        <span>5 сарын 28, 2024</span>
        <span class="pre-dot">4 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/insight-talking-to-children-about-money">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/fe91eec4ed43baecc4874fb634eea919_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/4">Мэдүүштэй</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/insight-talking-to-children-about-money"> Хүүхэдтэйгээ мөнгөний талаар ярилцах хамгийн зөв цаг хэзээ вэ? </a></h3>
      <div class="meta">
          <span ><img src="/img/logo/eye-black.png" width="21" alt=""/> 4487</span>
<span class="" ><img src="/img/logo/comment-black.png" width="15" alt=""/> 0 </span>
              </div>
    </div>
  </div>
</div>          <div class="article1-container">
  <div class="article1 unread-content left" data-id="5260">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Gerelchimeg " class="author-link">
          <img src="https://unread.today/files/profile/0f46a164a4640fa6ce9c12e88ab2d48a.jpeg" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Gerelchimeg " class="author-name">
          Gerelchimeg Jargalsaikhan         </a>  
        <span>5 сарын 27, 2024</span>
        <span class="pre-dot">8 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/2030-future-of-food">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/0f9eacff441cfc4602498a98f5946f9f_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/10">Тогтвортой хөгжил</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/2030-future-of-food">20 жилийн дараах хоолны ширээ: Ирээдүйн хүнс тойрсон эргэлзээтэй асуултуудын хариу</a></h3>
      <div class="meta">
                      </div>
    </div>
  </div>
</div>          <div class="article1-container">
  <div class="article1 unread-content right" data-id="5259">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Burte" class="author-link">
          <img src="https://unread.today/files/profile/f14a217d09d0d74f3824c3aa80eba6a5.JPG" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Burte" class="author-name">
          Burtguljin Enkhbat        </a>  
        <span>5 сарын 27, 2024</span>
        <span class="pre-dot">1 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/techworm-children-apps">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/a4da91f7dc3eb5a815cfdf5f8b705e99_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/4">Мэдүүштэй</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/techworm-children-apps">Хүүхдийнхээ утсанд зайлшгүй суулгах топ 5 апп </a></h3>
      <div class="meta">
                      </div>
    </div>
  </div>
</div>          <div class="article1-container">
  <div class="article1 unread-content left" data-id="5261">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Tushigt" class="author-link">
          <img src="https://unread.today/files/profile/03777e0530674c333e0932d56a7097ae.jpeg" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Tushigt" class="author-name">
          Tushigt-Erdene         </a>  
        <span>5 сарын 27, 2024</span>
        <span class="pre-dot">2 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/techworm-egune-event">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/454271730c76c2f173dbddc1d427921c_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/1">Techworm</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/techworm-egune-event">AI сонирхогчдын гарцаагүй очих ганц арга хэмжээ</a></h3>
      <div class="meta">
                      </div>
    </div>
  </div>
</div>          <div class="article1-container">
  <div class="article1 unread-content right" data-id="5258">
        <div class="lead">
      <div class="author">
        <a href="https://unread.today/author/Tushigt" class="author-link">
          <img src="https://unread.today/files/profile/03777e0530674c333e0932d56a7097ae.jpeg" class="author-photo" alt=""/>        </a>
        <a href="https://unread.today/author/Tushigt" class="author-name">
          Tushigt-Erdene         </a>  
        <span>5 сарын 27, 2024</span>
        <span class="pre-dot">2 мин</span>
      </div>
    </div>
        <div class="content uk-overlay uk-overlay-hover ">
      <span class="dot unread-dot"></span>
      <a class="cover" href="https://unread.today/c/insight-gx-experience-space">
        <div class="cover uk-cover-background" style="background-image: url('https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/2f5bf8fb8f5afc9b5500ef1ce74722d5_square.jpg')">
          <img src="/img/square_placeholder.png" class="uk-invisible" alt=""/>        </div>
      </a>
      <h6 class="category"><a href="https://unread.today/category/4">Мэдүүштэй</a></h6>
      <h3 class="title uk-text-break"><a href="https://unread.today/c/insight-gx-experience-space">“GX Experience Space” байгууламжид зочлоорой</a></h3>
      <div class="meta">
                      </div>
    </div>
  </div>
</div>      </div>

  <div class="prev-weeks" id="prevweek">
    <div class="tools uk-visible-small">
    <div class="slider-nav"><a class="prev opacity05"><i class="uk-icon-angle-left"></i></a><a class="next opacity05"><i class="uk-icon-angle-right"></i></a></div>
      </div>
    <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect: '#prev-weeks-articles', animation:'fade', swiping:false}" id="prevweek-tab">
      <li class="uk-width-medium-1-4 uk-width-2-5" data-week="1"><a href="" class="first">Өнгөрсөн 7 хоногт</a></li>
      <li class="uk-width-medium-1-4 uk-width-2-5" data-week="2"><a href="">05/13 - 05/19</a></li>
      <li class="uk-width-medium-1-4 uk-width-2-5 uk-hidden-small" data-week="3"><a href="">05/06 - 05/12</a></li>
      <li class="uk-width-medium-1-4 uk-width-2-5 uk-hidden-small" data-week="4"><a href="" class="last">04/29 - 05/05</a></li>
    </ul>
    <ul id="prev-weeks-articles" class="uk-switcher">
      <li data-week="1">Түр хүлээнэ үү...</li>
      <li data-week="2">Түр хүлээнэ үү...</li>
      <li data-week="3">Түр хүлээнэ үү...</li>
      <li data-week="4">Түр хүлээнэ үү...</li>
    </ul>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
  <defs>
    <filter id="blur">
      <feGaussianBlur stdDeviation="4" />
    </filter>
  </defs>
</svg>

  
      
<div class="footer-top "></div>
<div class="footer">
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-grid-large">
      <div class="uk-width-medium-2-5 uk-width-small-1-2 uk-width-1-1">
        <a href="/">
          <img src="/img/unread_white.png" class="logo" alt=""/>        </a>
        <div class="uk-visible-small uk-margin-large-top">
          <div class="main-nav left" style="margin-bottom: 10px;">
            <a href="/page/policy" class="hover-opacity transition">Редакцын бодлого</a>
            <a href="/category/9" class="pre-dot hover-opacity transition">Блог</a>
            <a href="/category/11" class="pre-dot hover-opacity transition uk-hidden-small">Ажлын байр</a>
            <a href="/page/contact?view=view" class="pre-dot hover-opacity transition">Холбогдох</a>
          </div>
          <p class="copyright">© 2015-2024 Анрид Медиа ХХК. Бүх эрх хуулиар хамгаалагдсан. Контентуудыг зөвшөөрөлгүйгээр болон дурдалгүйгээр нийтлэх, хэвлэх, эш татахыг хориглоно.</p>
        </div>
        <div class="contact-btn1">
          <a class="btn-black" href="https://docs.google.com/forms/d/1vTafEtLXkF1gCXklzH_gISlZS1uMXbE-R7_Tu-dkIfY" target="_blank">
            <span class="arrow"><i class="uk-icon-angle-right"></i></span>
            <h6 class="">Хамтран ажиллах хүсэлт илгээх</h6>
            Контент нийтлүүлэх          </a>
        </div>
        <div class="contact-btn2">
        <a class="btn-black" href="https://docs.google.com/forms/d/1G_fz_2nUXJe4Cd7tc-e3pWvKdqIMFeqQaX2yLGA1o-0" target="_blank">
          <span class="arrow"><i class="uk-icon-angle-right"></i></span>
          <h6 class="">Хамтран ажиллах хүсэлт илгээх</h6>
          Эвент дээр хамтрах        </a>
        </div>
        <div class="app-link">
          <a href="https://play.google.com/store/apps/details?id=batu.digital.unreadmobile" target="_blank"><img src="/img/app_android.png" alt=""/></a>
          <a href="https://itunes.apple.com/mn/app/unread-today/id1100135982?mt=8" target="_blank"><img src="/img/app_ios.png" alt=""/></a>
        </div>
      </div>
      <div class="uk-width-medium-3-5 uk-width-small-1-2 uk-width-1-1" style="max-width:650px;margin:0 0 0 auto;">
        <div class="main-nav right">
          <a href="/page/policy" class="hover-opacity transition">Редакцын бодлого</a>
          <a href="/category/9" class="pre-dot hover-opacity transition">Блог</a>
          <a href="/category/11" class="pre-dot hover-opacity transition">Ажлын байр</a>
          <a href="/page/contact" class="pre-dot hover-opacity transition">Холбогдох</a>
        </div>
        <p class="copyright uk-hidden-small">© 2015-2024 Анрид Медиа ХХК. Бүх эрх хуулиар хамгаалагдсан. Контентуудыг зөвшөөрөлгүйгээр болон дурдалгүйгээр нийтлэх, хэвлэх, эш татахыг хориглоно.</p>
        <div class="uk-grid uk-grid-medium category-nav">
          <div class="uk-width-medium-1-3 uk-width-1-2">
            <h5>Булангууд</h5>
            
                                        <a class="gray" href="/category/2">Онцлох бизнес</a>
                                        <a class="gray" href="/category/1">Techworm</a>
                                        <a class="gray" href="/howiwork">Би хэрхэн ажилладаг вэ?</a>
                                        <a class="gray" href="/category/4">Мэдүүштэй</a>
                                        <a class="gray" href="/category/5">Чөлөөт</a>
                                        <a class="gray" href="/category/6">Номын тухай</a>
                                        <a class="gray" href="/category/7">7 хоногийн тойм</a>
                          </div><div class="uk-width-medium-1-3 uk-width-1-2"><h5>&nbsp;</h5>              <a class="gray" href="/category/disruptors">Өртөөлөгчид</a>
                                        <a class="gray" href="/category/10">Тогтвортой хөгжил</a>
                                        <a class="gray" href="/category/explained">Тайлбарлах нь</a>
                                        <a class="gray" href="/category/10-ertunts-10-untsug">10 ертөнц, 10 өнцөг </a>
                                        <a class="gray" href="/category/bestoffice">Таатай оффис</a>
                                        <a class="gray" href="/category/12">Зочинтой булан</a>
                                        <a class="gray" href="/category/8minute-politics">8 минутын улс төр</a>
                      </div>
          <div class="uk-width-medium-1-3 uk-width-1-1">
            <h5 class="company">Компани</h5>
            <p class="address">Улаанбаатар 14240
<br>СБД, 8-р хороо, Амарын гудамж, 
<br>Тэнгэрлиг медиа групп</p>
            <p class="address"></p>
            <p class="address">+976 9921 2778</p>
            <p class="address">+976 8801 3893</p>
            <p class="address"><br></p>
            <p class="address">Зочлох:</p>
            <a href="http://www.unread.media" class="unread-link" target="_blank">www.unread.media</a>
          </div>
        </div>
      </div>  
    </div>
    <div class="social-links">
                  <div class="uk-grid">
                                        <div class="uk-width-1-6">
              <a href="https://www.facebook.com/UnreadToday/" class="social-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150"><title>1_fb</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="fb-c" d="M129.79,0H20.21A20.21,20.21,0,0,0,0,20.21V129.79A20.21,20.21,0,0,0,20.21,150h54l.1-53.6H60.42a3.29,3.29,0,0,1-3.29-3.27l-.06-17.28a3.28,3.28,0,0,1,3.28-3.3h13.9V55.85c0-19.37,11.84-29.92,29.12-29.92h14.18a3.29,3.29,0,0,1,3.29,3.29V43.78a3.29,3.29,0,0,1-3.29,3.29h-8.7c-9.4,0-11.22,4.47-11.22,11V72.55h20.66a3.29,3.29,0,0,1,3.26,3.67l-2,17.28a3.29,3.29,0,0,1-3.26,2.9H97.72L97.63,150h32.16A20.21,20.21,0,0,0,150,129.79V20.21A20.21,20.21,0,0,0,129.79,0Z"/></g></g></svg>              </a>
            </div>
                                                  <div class="uk-width-1-6">
              <a href="https://twitter.com/UnreadToday" class="social-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184.66 150"><title>2_tw</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="tw-c" d="M165.72,37.36l.12,4.91c0,50-38.1,107.73-107.75,107.73A107.23,107.23,0,0,1,0,133a81.8,81.8,0,0,0,9,.51,76.13,76.13,0,0,0,47.05-16.17A38,38,0,0,1,20.69,91a38,38,0,0,0,7.15.67,38.92,38.92,0,0,0,10-1.29A38,38,0,0,1,7.44,53.2v-.46a37.29,37.29,0,0,0,17.13,4.73A37.89,37.89,0,0,1,12.85,6.92,107.52,107.52,0,0,0,91,46.49a39.33,39.33,0,0,1-1-8.62,37.88,37.88,0,0,1,65.48-25.93,75.18,75.18,0,0,0,24.12-9.19,38.18,38.18,0,0,1-16.68,21,75.68,75.68,0,0,0,21.75-6A76,76,0,0,1,165.72,37.36Z"/></g></g></svg>              </a>
            </div>
                                                  <div class="uk-width-1-6">
              <a href="https://www.instagram.com/unreadtoday/" class="social-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 150 150"><defs><linearGradient id="linear-gradient" x1="16.11" y1="132.9" x2="112.77" y2="37.87" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffc738"/><stop offset="0.5" stop-color="#ff2f4e"/><stop offset="1" stop-color="#8d3baf"/></linearGradient><linearGradient id="linear-gradient-2" x1="16.11" y1="132.9" x2="112.77" y2="37.87" xlink:href="#linear-gradient"/><linearGradient id="linear-gradient-3" x1="15.96" y1="132.75" x2="112.62" y2="37.72" xlink:href="#linear-gradient"/></defs><title>4_ins</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="ins-c" d="M105.31,0H44.69A44.74,44.74,0,0,0,0,44.69v60.62A44.74,44.74,0,0,0,44.69,150h60.62A44.74,44.74,0,0,0,150,105.31V44.69A44.74,44.74,0,0,0,105.31,0Zm29.6,105.31a29.6,29.6,0,0,1-29.6,29.6H44.69a29.6,29.6,0,0,1-29.6-29.6V44.69a29.6,29.6,0,0,1,29.6-29.6h60.62a29.6,29.6,0,0,1,29.6,29.6v60.62Z"/><path class="ins-2" d="M75,36.2A38.8,38.8,0,1,0,113.8,75,38.85,38.85,0,0,0,75,36.2Zm0,62.51A23.71,23.71,0,1,1,98.71,75,23.72,23.72,0,0,1,75,98.71Z"/><circle class="ins-3" cx="113.87" cy="36.5" r="9.3"/></g></g></svg>              </a>
            </div>
                                                  <div class="uk-width-1-6">
              <a href="https://www.linkedin.com/company/unreadmedia" class="social-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156.98 150"><title>3_li</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="lin-c" d="M35.65,150H2V48.79H35.65ZM18.81,35h-.2C7.31,35,0,27.19,0,17.5,0,7.55,7.54,0,19,0S37.63,7.55,37.86,17.5C37.86,27.19,30.57,35,18.81,35ZM157,150H123.32V95.84c0-13.62-4.86-22.88-17-22.88C97,73,91.48,79.23,89,85.26a23.31,23.31,0,0,0-1.15,8.21V150H54.25s.45-91.7,0-101.2H87.88V63.14c4.49-6.89,12.45-16.72,30.33-16.72C140.4,46.42,157,60.88,157,92Z"/></g></g></svg>              </a>
            </div>
                                                  <div class="uk-width-1-6">
              <a href="https://www.youtube.com/channel/UCfJkXzS4l7Rbq5rRgvHdsKw" class="social-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 168.73 128"><title>5_yt</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="you-c" d="M167,27.64s-1.74-12.51-6.69-18c-6.4-7.27-13.67-7.27-16.87-7.56C119.85.29,84.36,0,84.36,0s-35.49.29-59,2c-3.2.29-10.47.58-16.87,7.56-5.24,5.53-6.69,18-6.69,18A290.12,290.12,0,0,0,0,57.31V71a280.83,280.83,0,0,0,1.75,29.38s1.74,12.51,6.69,18c6.4,7.27,14.83,7,18.61,7.85C40.44,127.71,84.36,128,84.36,128s35.49,0,59.06-2c3.2-.29,10.47-.58,16.87-7.56,5-5.53,6.69-18,6.69-18A288.26,288.26,0,0,0,168.73,71V57.31A290.12,290.12,0,0,0,167,27.64ZM64,97.75V34.62l55.27,32.29Z"/></g></g></svg>              </a>
            </div>
                                                  <div class="uk-width-1-6">
              <a href="https://soundcloud.com/unreadtoday" class="social-link" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 227.56 128"><title>6_sc</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="sou-c" d="M192,56.89a35.56,35.56,0,0,0-7.41.78A64.11,64.11,0,0,0,120.89,0a7.11,7.11,0,0,0-7.11,7.11V120.89a7.11,7.11,0,0,0,7.11,7.11H192a35.56,35.56,0,1,0,0-71.11Z"/><path class="sou-c" d="M92.44,14.22a7.12,7.12,0,0,0-7.11,7.11v99.56a7.12,7.12,0,0,0,14.23,0V21.33A7.12,7.12,0,0,0,92.44,14.22Z"/><path class="sou-c" d="M64,42.67a7.11,7.11,0,0,0-7.11,7.11v71.11a7.11,7.11,0,0,0,14.22,0V49.78A7.11,7.11,0,0,0,64,42.67Z"/><path class="sou-c" d="M35.56,42.67a7.11,7.11,0,0,0-7.12,7.11v71.11a7.12,7.12,0,0,0,14.23,0V49.78A7.11,7.11,0,0,0,35.56,42.67Z"/><path class="sou-c" d="M7.11,64A7.12,7.12,0,0,0,0,71.11v42.67a7.11,7.11,0,0,0,14.22,0V71.11A7.11,7.11,0,0,0,7.11,64Z"/></g></g></svg>              </a>
            </div>
                        </div>
    </div>
  </div>
</div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61909596-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-61909596-4');
</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/static/unread.min.v1593050217.js"></script><script>  $(function () {
    $(".aravt a.prev").click(function () {
      $(".aravt .uk-slidenav-previous").trigger('click');
    });

    $(".aravt a.next").click(function () {
      $(".aravt .uk-slidenav-next").trigger('click');
    });

    $(".editors-choice a.prev").click(function () {
      $(".editors-slider .uk-slidenav-previous").trigger('click');
    });

    $(".editors-choice a.next").click(function () {
      $(".editors-slider .uk-slidenav-next").trigger('click');
    });

    $(".prev-weeks a.prev").click(function () {
      shiftPrevWeekTab(-1);
    });

    $(".prev-weeks a.next").click(function () {
      shiftPrevWeekTab(1);
    });
  });
  
  var fetchedWeeks = {};
  var startListenTabChange = false;
  var prevWeek = document.querySelector('#prevweek');
  var checkPrevWeekPosition = true;
  
  function shiftPrevWeekTab(move) {
    var curInd = $("#prevweek-tab li.uk-active").index();
    var total = $("#prevweek-tab li:not(.uk-tab-responsive)").length;
    var changeTo = (curInd + move + total) % total;
    var liElements = $("#prevweek-tab li");
    liElements.eq(changeTo).trigger('click');
    if(changeTo > 1) {
      liElements.eq(0).addClass('uk-hidden-small');
      liElements.eq(1).addClass('uk-hidden-small');
      liElements.eq(2).removeClass('uk-hidden-small');
      liElements.eq(3).removeClass('uk-hidden-small');
    } else {
      liElements.eq(0).removeClass('uk-hidden-small');
      liElements.eq(1).removeClass('uk-hidden-small');
      liElements.eq(2).addClass('uk-hidden-small');
      liElements.eq(3).addClass('uk-hidden-small');
    }
    
  }
  
  window.addEventListener('scroll', function() {
    if(!checkPrevWeekPosition) { return; }
    var position = prevWeek.getBoundingClientRect();

    // checking for partial visibility
    if(position.top < window.innerHeight && position.bottom >= 0) {
      checkPrevWeekPosition = false;
      startListenTabChange = true;
      getPrewWeekArticles(1);
    }
  });
  
  
  function getPrewWeekArticles(week) {
    if(fetchedWeeks[week]) { return; }
    var liElement = $('#prev-weeks-articles>li[data-week='+week+']');
    liElement.html('<i class="uk-icon-refresh uk-icon-spin text-22 uk-text-muted"></i>');
    $.ajax({
        url: "/articles/ajax-prev-week",
        type: "POST",
        dataType: "json",
        beforeSend: function (xhr) {
            xhr.setRequestHeader('X-CSRF-Token', '48f25dda826aea74749dd7cc8281eadda76a2d5528183601e01075490cc4158b3c551925321c51a016909f7cbc7a9141c5e2ba6b214db71d315f6e8cf72ce6ba');
        },
        data: {week: week}
    }).done(function (data) {
      fetchedWeeks[week] = true;
      liElement.html(data['html']);
    }).fail(function (data) {
      console.log(data.responseText);
      liElement.html('<span class="text-16 uk-text-muted">Уучлаарай, одоогоор мэдээлэл алга байна.</span>');
    });
  }
  
  $('#prevweek-tab').on('change.uk.tab', function(event, cur, prev) {
    if(!startListenTabChange) { return; }
    var weekCount = cur.attr('data-week');
    if (weekCount && weekCount != "" && !fetchedWeeks[weekCount]) {
      getPrewWeekArticles(weekCount);
      cur.attr('data-week', "");
    }
  });
  
  </script><script>  var mainmenu = $("#mainmenu");
  var mainmenuContainer = $("#mmcontainer");
  var burgermenu = $('.burger-click-region');
  var headerContainer = $(".header-container");
  var isHome = true;
  var isMobile = false;
  
  $("#burgermenu").click(function() {
    if(isMobile) {
      var top = headerContainer[0].getBoundingClientRect().bottom;
      if(top < 0) {
        top = 0;
      }
      mainmenu.css('top', top + 'px');
    }
    if(mainmenu.css('display') === 'none') {
      if(!isMobile && headerContainer.hasClass('uk-active')) {
        mainmenuContainer.css('height', 'calc(100vh - 80px)');
      } else {
        mainmenuContainer.css('height', 'initial');
      }
      
      $("html").addClass('uk-modal-page');
      mainmenu.fadeIn();
      if(isHome) burgermenu.addClass('white');
    } else {
      mainmenuContainer.css('height', 'initial');
      $("html").removeClass('uk-modal-page');
      mainmenu.fadeOut();
      if(isHome) burgermenu.removeClass('white');
    }
  });
  </script>    
    <script>
      window.addEventListener('scroll', throttle(checkBanners, 1000));
      function throttle(fn, wait) {
        var time = Date.now();
        return function() {
          if ((time + wait - Date.now()) < 0) {
            fn();
            time = Date.now();
          }
        }
      }

      function checkBanners() {
        $(".unread-banner-anchor:not(.impressed)").each(function() {
        console.log('checkBanners');
          var bannerId = $(this).attr('data-id');
          if (!bannerId) { return; }
          var position = this.getBoundingClientRect();
         
          // checking for partial visibility
          if(position.top < window.innerHeight && position.bottom >= 0) {
            updateBannerImpression(bannerId);
            $(this).addClass('impressed');
          }
        });
      }
      
      function updateBannerImpression(bannerId) {
        $.ajax({
          url: "/banners/ajax-update-impressions",
          type: "POST",
          dataType: "json",
          beforeSend: function (xhr) {
              xhr.setRequestHeader('X-CSRF-Token', '48f25dda826aea74749dd7cc8281eadda76a2d5528183601e01075490cc4158b3c551925321c51a016909f7cbc7a9141c5e2ba6b214db71d315f6e8cf72ce6ba');
          },
          data: {banner_id: bannerId}
        });
      }
    </script>
    
  </body>
</html>
